<!--<pre>{{activeDevice | json }}</pre> -->

<app-card title="FORM">
    <app-catalog-form
        [activeDevice]="catalogStore.activeDevice"
        (save)="catalogService.save($event)"
        (reset)="catalogService.reset()">
    </app-catalog-form>
</app-card>

<app-card title="LIST">
    <app-catalog-list
        [devices]="catalogStore.devices"
        [activeDevice]="catalogStore.activeDevice"
        (setActive)="catalogService.setActive($event)"
        (delete)="catalogService.deleteHandler($event)">
    </app-catalog-list>
</app-card>
